<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.teller.mapper.TrHistMapper">

    <insert id="insertHist" parameterType="com.study.teller.vo.TrHistVo">
        INSERT INTO TB_TR_HIST (
            TR_NO, BANK_CODE, BRANCH_CODE, EMP_NO, TR_CODE,
            TR_DATE, TR_TIME, ACCT_NO, CUST_NM,
            AMOUNT, BALANCE, RES_CODE, RES_MSG
        ) VALUES (
            #{trNo}, #{bankCode}, #{branchCode}, #{empNo}, #{trCode},
            #{trDate}, #{trTime}, #{acctNo}, #{custNm},
            #{amount}, #{balance}, #{resCode}, #{resMsg}
        )
    </insert>

    <select id="selectHist" parameterType="string"
            resultType="com.study.teller.vo.TrHistVo">
        SELECT TR_NO, BANK_CODE, BRANCH_CODE, EMP_NO, TR_CODE,
               TR_DATE, TR_TIME, ACCT_NO, CUST_NM,
               AMOUNT, BALANCE, RES_CODE, RES_MSG
          FROM TB_TR_HIST
         WHERE TR_NO = #{trNo}
    </select>
    
    	
   	 <select id="selectHistList" parameterType="string"
            resultType="com.study.teller.vo.TrHistVo">
        SELECT TR_NO, BANK_CODE, BRANCH_CODE, EMP_NO, TR_CODE,
               TR_DATE, TR_TIME, ACCT_NO, CUST_NM,
               AMOUNT, BALANCE, RES_CODE, RES_MSG
          FROM TB_TR_HIST
         WHERE ACCT_NO = #{acctNo}
         ORDER BY REG_DTM DESC
    </select>
    
    <select id="selectHistByPeriod" parameterType="com.study.teller.vo.TrHistVo"
            resultType="com.study.teller.vo.TrHistVo">
        SELECT TR_NO, TR_CODE, TR_DATE, TR_TIME,
               ACCT_NO, AMOUNT, BALANCE
          FROM TB_TR_HIST
         WHERE ACCT_NO  = #{acctNo}
           AND TR_DATE BETWEEN #{fromDate} AND #{toDate}
           AND RES_CODE = '0000'
         ORDER BY TR_DATE DESC, TR_TIME DESC
    </select>

</mapper>